<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tee.mapper.BucketMapper">

  <select id="getBucketInfo" resultType="com.tee.pojo.vo.Bucket" >
    select
    <include refid="bucket_corn" />
    from bucket_info a
    left join user_info b on a.user_id = b.user_id
    <where>
      <if test="userId != null and userId !='EMPTY'">
        a.user_id = #{userId}
      </if>
      <if test="userId != null and userId =='EMPTY'">
        a.user_id is null
      </if>
      <if test="bucketNo != null and bucketNo !=''">
        a.bucket_no = #{bucketNo}
      </if>
      <if test="startTime != null and startTime !=''">
        a.create_time >= #{startTime}
      </if>
      <if test="endTime != null and endTime !=''">
        a.create_time &lt;= #{endTime}
      </if>
    </where>
    order by a.create_time desc
  </select>

  <select id="getBucketLog" resultType="com.tee.pojo.vo.Bucket" >
    select
    <include refid="bucket_corn" />
        ,a.capacity_add as capacityDdd
    from bucket_operate_log a
    left join user_info b on a.user_id = b.user_id
    <where>
      <if test="userName != null and userName !=''">
        b.user_name = #{userName}
      </if>
      <if test="bucketNo != null and bucketNo !=''">
        a.bucket_no = like '%' || #{bucketNo} || '%'
      </if>
      <if test="startTime != null and startTime !=''">
        a.create_time >= #{startTime}
      </if>
      <if test="endTime != null and endTime !=''">
        a.create_time &lt;= #{endTime}
      </if>
    </where>
    order by a.create_time desc
  </select>

  <select id="getBucketApplyLog" resultType="com.tee.pojo.vo.Bucket" >
    select
    <include refid="bucket_corn" />, a.spec,a.status
    from bucket_apply_log a
    left join user_info b on a.user_id = b.user_id
    <where>
      <if test="userName != null and userName !=''">
        b.user_name = #{userName}
      </if>
      <if test="bucketNo != null and bucketNo !=''">
        a.bucket_no = #{bucketNo}
      </if>
      <if test="type != null and type !=''">
        a.type = #{type}
      </if>
      <if test="startTime != null and startTime !=''">
        a.create_time >= #{startTime}
      </if>
      <if test="endTime != null and endTime !=''">
        a.create_time &lt;= #{endTime}
      </if>
    </where>
    order by a.create_time desc
  </select>


  <insert id="insertBucketApply">
    insert into bucket_apply_log(user_id, bucket_no, capacity, spec, type, status, remark, create_time, update_time)
    values(#{userId}, #{bucketNo}, #{capacity}, #{spec}, #{type}, '0', #{remark}, datetime('now'), datetime('now'))
  </insert>

  <update id="updateBucketApply">
    update bucket_apply_log
    <set>
      <trim prefix="" suffixOverrides=",">
        <if test="status != null and status != ''">
          status = #{status},
        </if>
        update_time = datetime('now')
      </trim>
    </set>
    <where>
      <if test="userId != null and userId !=''">
        user_id = #{userId}
      </if>
      <if test="bucketNo != null and bucketNo !=''">
        and bucket_no = #{bucketNo}
      </if>
    </where>
  </update>

  <insert id="insertBucket">
    insert into bucket_info(user_id, bucket_no, capacity, abs, remark, create_time, update_time)
    values(#{userId}, #{bucketNo}, #{capacity}, #{abs}, #{remark}, datetime('now'), datetime('now'))
  </insert>

  <update id="updateBucketNum">
    update bucket_info
    <set>
      <trim prefix="" suffixOverrides=",">
        <if test="capacity != null and capacity != ''">
          capacity = #{capacity},
        </if>
        <if test="userId != null and userId !='EMPTY'">
          user_id = #{userId},
        </if>
        <if test="userId != null and userId =='EMPTY'">
          user_id = null,
        </if>
        update_time = datetime('now')
      </trim>
    </set>
    <where>

      <if test="bucketNo != null and bucketNo !=''">
        and bucket_no = #{bucketNo}
      </if>
    </where>
  </update>

  <update id="updateBucketInfo">
    update bucket_info
    <set>
      <trim prefix="" suffixOverrides=",">
        <if test="userId != null and userId != ''">
          user_id = #{userId},
        </if>
        <if test="bucketNo != null and bucketNo != ''">
          bucket_no = #{bucketNo},
        </if>
        <if test="remark != null and remark != ''">
          remark = #{remark},
        </if>
        update_time = datetime('now')
      </trim>
    </set>
    <where>
      <if test="id != null and id !=''">
        id = #{id}
      </if>
    </where>
  </update>

  <insert id="insertBucketOperateLog">
    insert into bucket_operate_log(user_id, bucket_no, capacity, capacity_add, abs, remark, create_time, update_time)
    values(#{userId}, #{bucketNo}, #{capacity}, #{capacityAdd}, #{abs}, #{remark}, datetime('now'), datetime('now'))
  </insert>

  <delete id="deleteBucket">
    delete from bucket_info where id = #{id}
  </delete>

  <sql id="bucket_corn">
    a.id as id,a.user_id as userId, b.user_name as userName, a.bucket_no as bucketNo, a.capacity as capacity,
        a.remark as remark, a.create_time as createTime, a.update_time as updateTime
  </sql>


</mapper>