<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tee.mapper.FaceMapper">


    <select id="getFaceInfo" resultType="com.tee.pojo.vo.Face" >
        select
        user_id as userId, user_name as userName, face_path as facePath, face_feature as faceFeature
        from face_info a
        <where>
            <if test="userId != null and userId !=''">
                a.user_id = #{userId}
            </if>
        </where>
    </select>

    <insert id="insertFaceInfo">
        insert into face_info(user_id, user_name, face_path, face_feature, create_time, update_time)
        values(#{userId}, #{userName}, #{facePath}, #{faceFeature}, datetime('now'), datetime('now'))
    </insert>

    <update id="updateFaceInfo">
        update face_info
            <set>
                <trim prefix="" suffixOverrides=",">
                    <if test="facePath != null and facePath != ''">
                        face_path = #{facePath},
                    </if>
                    <if test="faceFeature != null and faceFeature != ''">
                        face_feature = #{faceFeature},
                    </if>
                </trim>
            </set>
            update_time = datetime('now')
        <where>
            <if test="userId != null and userId !=''">
                user_id = #{userId}
            </if>
        </where>
    </update>
</mapper>